invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>root element</xs:documentation>
  </xs:annotation>
  <xs:element name="Invoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:float" name="cost"/>
        <xs:element type="xs:int" name="count"/>
        <xs:element type="xs:float" name="amount"/>
        <xs:element type="xs:string" name="name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>